@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
  font-family: "Roboto", sans-serif;
  background-color: #ebeef2;
  overflow: hidden;

}
.scrl-cat{
  overflow-y: auto;
  overflow-x: none;
  scrollbar-width: thin;  
}

.rounded-2lg {
  border-radius: .625rem;
}

.scrl{
  overflow-y: scroll;
  scrollbar-width: none; 
}